<?xml version="1.0" encoding="UTF-8"?>

<!-- 配置文件，在页面中所有配置都可以通过${cfg.attr}访问 -->
<!-- 在代码中通过com.pj.web.res.Config.getConfig访问 -->
<config>
    
    <!-- 系统配置 -->
    <!-- 第一个%s将替换module字段，第二个%s将替换dataType字段 -->
    <item name="pattern.service.invoker">com.es.keyassistant.%s.invokers.%sInvoker</item>
    <!-- 第一个%s将替换module字段，第二个%s将替换service字段 -->
    <item name="pattern.service.resolver">com.es.keyassistant.%s.resolvers.Resolver%s</item>
    <item name="rest.resolver">com.es.keyassistant.resolvers.TestRESTResolver</item>
    
    <!-- Client URI -->
    <item name="restURIPath">/client.service</item>
    <!-- MySQL,Oracle,SQLServer -->
    <item name="database">MySQL</item>
    <item name="charset">UTF-8</item>
    
    
    <!-- 软件配置 -->
    <item name="debug">true</item>
    <item name="appName">基础框架</item>
    <item name="managementSystemName">基础管理系统</item>
    
</config>

